<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.3.xsd
		http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.3.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">
		
	
	<!-- 只扫描controller层 -->
	<context:component-scan base-package="com" use-default-filters="false">
			<context:include-filter type="annotation" expression="org.springframework.stereotype.Controller"/>
			<context:include-filter type="annotation" expression="org.springframework.web.bind.annotation.ControllerAdvice"/>
	</context:component-scan>
	
	<!-- 视图解析器 -->
	
	
	<bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
				<!-- 前缀prefix -->
			<property name="prefix" value="/WEB-INF/service/"></property>
				<!-- 后缀suffix -->
			<property name="suffix" value=".jsp"></property>
	</bean>
	
	<!-- 配置国际化资源文件 -->
	<bean id="messageSource" class="org.springframework.context.support.ResourceBundleMessageSource">
			<property name="basename" value="i18n"></property>
	</bean>
	
	<!-- 拦截器配置，登录拦截器 -->
	<mvc:interceptors>
			<mvc:interceptor>
					<mvc:mapping path="/**"/>
					<mvc:exclude-mapping path="/static-res/**"/>
					<mvc:exclude-mapping path="/index.jsp" />
					<mvc:exclude-mapping path="/register" />
					<mvc:exclude-mapping path="/register_user" />
					<mvc:exclude-mapping path="/register.jsp" />
					<mvc:exclude-mapping path="/login" />
					<mvc:exclude-mapping path="/" />
					<bean class="com.interceptors.LoginInterceptor"></bean>
			</mvc:interceptor>
	</mvc:interceptors>
	<!-- 处理静态资源不能访问等 -->
	
	
<!-- 以及处理不了的交给tomcat，静态资源映射，打开支持jsr303的驱动等 -->
    <mvc:default-servlet-handler/>
	 <mvc:annotation-driven/>
</beans>










