<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.GonghuoshangMapper">
		<insert id="AddGHS" parameterType="java.lang.String">
				insert into ghs values(#{gonghuoshang})
		</insert>
		<delete id="DelGHS">   
				delete from ghs where gonghuoshang = #{gonghuoshang}
		</delete>
		<select id="GeyAllGHS" resultType="Gonghuoshang">
				select * from ghs
		</select>
		<select id="QueryGHS" resultType="Gonghuoshang">
				select * from ghs where gonghuoshang = #{gonghuoshang} 
		</select>
</mapper>