<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.ManagerMapper">
	<select id="QueryUserByName" resultType="Manager">
		select * from manager where `user`=#{user}
	</select>

	<select id="CountUserByName" resultType="java.lang.Integer">
		select count(*) from manager where `user`=#{user}
	</select>

	<insert id="AddNewUser" parameterType="Manager">
		insert into manager(`user`,`password`,`role`)values(#{user},#{password},#{role})
	</insert>
	<select id="GetAllClerk" resultType="Manager">
		select * from `manager` where `role`= 0
	</select>
	<delete id="DelClerk" parameterType="java.lang.String">
		delete from `manager` where `user`=#{user} and `role`= 0
	</delete>
</mapper>