<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mapper.RxdrugMapper">
		<insert id="AddRxdrug" parameterType="Rxdrug">
				insert into rxdrug values(#{time},#{drugname},#{changshang},#{date},#{pihao},#{count})
		</insert>
		<delete id="DelRxdrug">
				delete from rxdrug where `time` = #{time}
		</delete>
		<select id="GetIt" resultType="Rxdrug">
				select * from rxdrug where `time` = #{time}
		</select>
		<select id="CountNullRx" resultType="java.lang.Integer"> <!-- 查未记录填写的处方药记录条数 -->
			SELECT count(*) from 
				(SELECT a.time from
				((SELECT rxdrug.time,rxperson.time as timetwo,rxperson.`name` 
				from rxdrug LEFT JOIN rxperson 
				on rxdrug.time=rxperson.time) as a) 
				where a.timetwo is NULL and a.`name` is NULL 
				GROUP BY a.time) as b    
		</select>
		<select id="GetAllOverTime" resultType="java.lang.String">
				SELECT time from 
					(SELECT a.time from
					((SELECT rxdrug.time,rxperson.time as timetwo,rxperson.`name` 
					from rxdrug LEFT JOIN rxperson 
					on rxdrug.time=rxperson.time) as a) 
					where a.timetwo is NULL and a.`name` is NULL 
					GROUP BY a.time) as b
		</select>
		<select id="GetSomeDrugTime" resultType="java.lang.String">
				SELECT time from rxdrug 
				where rxdrug.time in 
				(SELECT rxdrug.time from rxdrug,rxperson where rxdrug.time = rxperson.time group by time) 
				and rxdrug.drugname like "%"#{time}"%" GROUP BY time
		</select>
</mapper>